.text {
    -fx-font-size: 15px;
    -fx-font-family: "Cascadia Code";
    -fx-text-fill: #FFFFFF;
}

.button {
    -fx-background-color: #272B2B;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-family: "Cascadia Code";
    
}
.button:hover {
    -fx-background-color: #191C1C;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-family: "Cascadia Code";
}